@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
  &__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
  }
  ul {
    display: flex;
    justify-content: end;
    li {
      margin-left: 50px;
      a {
        padding-bottom: 8px;
        opacity: 1;
        transition: all 0.3s;
        position: relative;
        &:hover::after,
        &:focus::after {
          width: 100%;
        }
      }
      a::after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: $red;
        content: "";
        transition: width 0.3s ease-out;
      }
    }
  }
  &__offer {
    position: relative;
    max-width: 440px;
    margin-top: 130px;
    h6 {
      margin: 10px 0 25px;
      max-width: 360px;
    }
    img {
      position: absolute;
      right: 0;
      top: 60px;
      z-index: -1;
    }
  }
}
.barf {
  margin: 180px 0 80px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    padding: 32px 0 18px;
  }
  ul {
    margin-top: 16px;
  }
  li {
    margin-bottom: 12px;
    padding-left: 12px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $dred;
    }
  }
  img {
    max-width: 588px;
    height: 523px;
  }
  &__offer {
    padding-right: 50px;
  }
}
.procent {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 32px 80px;
    background-color: $bgl;
    height: 288px;
    &-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 70px;
      margin-top: 18px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      min-width: 32px;
      object-fit: cover;
      margin-right: 20px;
    }
  }
}
.diet {
  margin-top: 180px;
  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 74px;
    img{
      position: absolute;
      top: -10px;
      left: 175px;
      z-index: -1;
    }
    p{
      max-width: 777px;
    }
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  &__card{
    max-width: 280px;
    h4{
      margin: 45px 0 4px;
    }
    p{
      margin: 16px 0 14px;
    }
    a{
      margin-top: 24px;
    }
    img{
      width: 280px;
      height: auto;
      object-fit: cover;
    }
  }
  &__link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background: #EAD1D0;
    a{
      margin: 0 70px 0 150px;
    }
  }
}
